if TARGET_MX8MMEA_SOM

config SYS_BOARD
	default "mx8mmea-som"

config SYS_VENDOR
	default "embeddedartists"

config SYS_CONFIG_NAME
	default "mx8mmea-som"

config IMX_CONFIG
	default "board/embeddedartists/mx8mmea-som/imximage-8mm-lpddr4.cfg"

endif
